@import '../../styles//mixins';
.list_container {
  padding-top: 25px;
  margin-bottom: 24px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 45px;
  row-gap: 45px;
  border-top: 1px solid;
  border-color: #a4a7b8bd;

  @include onTablet {
    grid-template-columns: repeat((1, 1fr));
    justify-items: center;
  }

  @include onLaptop {
    grid-template-columns: repeat(2, 1fr);
  }
  @include onLaptopWide {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include onMobile {
    justify-items: center;
  }
}

.center_container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.loadMore_button {
  background-color: white;
  width: 150px;
  box-shadow: 0px 3px 13px rgba(13, 30, 39, 0.2);

  &:hover {
    color: #565656;
  }
}
