.error {
  display: flex;
  margin-top: 30vh;
  margin-bottom: auto;
  background-color: white;
  width: 300px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;

  &_title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &_text {
    text-align: center;
    margin-bottom: 30px;
  }

  &_content--button {
    align-self: center;
    text-align: center;
    background-color: white;
    width: 150px;
    box-shadow: 0px 3px 13px rgba(13, 30, 39, 0.2);

    &:hover {
      color: #565656;
    }
  }
}
